.liked-photos-modal {
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(0,0,0,.5);
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -40%);
  height: 88%;
  width: 55%;
  border-radius: 12px;
}

.liked-photos-modal__close-button {
  background-color: white;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 8px;
}

.liked-photos-modal__images {
  height: 85%;
  overflow-y: scroll;
  margin-left: 36px;
margin-right: 36px;
}


.liked-photos-modal__top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 16px;
  margin-top: 8px;
  margin-bottom: 0px;
  align-items: center;
}


.liked-photos-modal__logo {
  text-decoration: overline;
  font-weight: 500;
  font-size: 24px;
  color: #111;
  text-underline-position: auto;
  margin-left: 24px;
}

.photo-details-modal__photographer-details {
  display: flex;
  font-size: 16px;
}

.photo-details-modal__header {
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e;
  margin-top: 24px;
  margin-bottom: 24px;
  width: 90%;
}

.photo-details-modal__photographer-location {
  color: #838383;
}
.photo-details-modal__photographer-profile {
  object-fit: cover;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 8px;
  width: 40px;
  height: 40px;
}

.photo-details-modal__photographer-info {
  margin-top: 5px;
  font-weight: 700;
  font-size: 12px;
  margin-left: 8px;
}
